<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="bootstrap snippet">
  <div class="row">
    <div class="col-md-8" style="cursor: pointer; margin-left: 17%">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading" (click)="navigate(post.id)">
          <div class="pull-left image">
            <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>{{post.user_name}} {{post.user_last_name}}</b></a>
              made a post.
            </div>
            <h6 class="text-muted time">{{post.date_created | date:'medium'}}</h6>
          </div>
        </div>
        <div class="post-description">
          <h3 (click)="navigate(post.id)">{{post.title}}</h3>
          <p (click)="navigate(post.id)">{{post.body}}</p>
          <div class="stats">
            <div class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon" [ngClass]="{'liked': isLiked}" (click)="likeClick(post.id)"></i>{{post.likes}}
            </div>
            <div class="btn btn-default stat-item">
              <i class="fa fa-share icon"></i>12
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
